<main>
  <div class="container centered" style="height: calc(100vh - 42px);">
    <div>
      <h1>{{message}}</h1>
      <h2>{{error.status}}</h2>
      <pre style="padding: 2rem">{{error.stack}}</pre>
    </div>

  </div>
</main>