<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body style="terminal">
  {{{body}}}

  <script src="/js/main.js"></script>
  <script async src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
    onload="initFingerprintJS()"></script>
</body>

</html>